.top {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(19, 99, 43);
    margin: 20px;
    border: 4px solid black;
    padding: 50px;
}

.mid {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 20px;
    border: 4px solid black;
    padding: 20px 0px 20px 50px;
}

a {
    color: #00B7FF;
}

.row {
    display: flex;
    
}

.column {
    flex: 50%;
}